{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
    <a class="sidebar-brand brand-logo" href="{% url 'superadmin:gym_list' %}">
      <img src="{% static 'images/SquareFitLogo.png' %}" alt="BhattSquare Logo" />
    </a>
    <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="{% url 'superadmin:gym_list' %}">
      <img src="{% static 'images/SquareFitLogo.png' %}" alt="Mini Logo" />
    </a>
  </div>
  <div class="sidebar-company-info text-center py-0">
    {% comment %} <p class="company-name">Superadmin</p> {% endcomment %}
    <p class="company-slogan small text-muted py-2">Manage Smarter. Train Better.</p>
  </div>
  <ul class="nav">


    <li class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
      <a class="nav-link" href="#">
        <i class="mdi mdi-view-dashboard menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#gym-management" aria-expanded="false" aria-controls="gym-management">
        <i class="mdi mdi-office-building menu-icon"></i>
        <span class="menu-title">Gym Management</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="gym-management">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'gym_list' %}active{% endif %}" href="{% url 'superadmin:gym_list' %}">Gyms</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#subscription-management" aria-expanded="false" aria-controls="subscription-management">
        <i class="mdi mdi-currency-usd menu-icon"></i>
        <span class="menu-title">Subscriptions</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="subscription-management">
        <ul class="nav flex-column sub-menu">
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'superadmin:subscription_plan_list' %}">
              <span class="menu-title">Subscription Plans</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'superadmin:add_subscription_plan' %}">
            
              <span class="menu-title"> Add Plans</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">
        <i class="mdi mdi-logout menu-icon"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
  </ul>
</nav>