{% extends 'superadmin/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Gyms List</h4>
                    <a href="{% url 'superadmin:add_gym' %}" class="btn btn-primary btn-sm float-right">Add Gym</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>#</th>
                                <th>Name</th>
                                <th>Slogan</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Admin Name</th>
                                <th>Admin Username</th>
                                <th class="text-right">Actions</th>
                            </thead>
                            <tbody>
                                {% for gym in gyms %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ gym.name }}</td>
                                    <td>{{ gym.slogan }}</td>
                                    <td>{{ gym.address }}</td>
                                    <td>{{ gym.phone }}</td>
                                    <td>{{ gym.email }}</td>
                                    <td>{{ gym.admin_name }}</td>
                                    <td>{{ gym.admin_username }}</td>
                                    <td class="text-right">
                                        <a href="{% url 'superadmin:update_gym' gym.id %}" class="btn btn-sm btn-warning">Edit</a>
                                        <a href="{% url 'superadmin:delete_gym' gym.id %}" class="btn btn-sm btn-danger">Delete</a>
                                        <a href="{% url 'superadmin:gym_profile' gym.id %}" class="btn btn-sm btn-info">View</a>
                                        {% if not gym.has_admin %}
                                            <a href="{% url 'superadmin:create_gym_admin' gym.id %}" class="btn btn-sm btn-success">Create Admin</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}